<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width">
</head>
<style type="text/css">



</style>
<header th:insert="blocks/header :: header"></header>
<body>


    <!--<label for="myfile" class="label">Выберите файлы</label>-->
    <!--<input type="file" class="my" id="myfile" name="myfile" multiple>-->

<main>
    <center>



        <p>
            <form action="#" id="myform" enctype="multipart/form-data">
                <label for="capture" class="label">Add music</label>

                <input type="file"
                       id="capture"
                       accept="audio/*"
                       capture
                       multiple />

                <br/>

<!--                <input type="submit" value="Process" />-->
            </form>
        </p>

        <p>
            <audio src="" id="audio" controls></audio>
        </p>




    </center>
</main>

<script src="js/script.js"></script>
<script>
<!--    $('.my').change(function() {-->
<!--    if ($(this).val() != '') $(this).prev().text('Выбрано файлов: ' + $(this)[0].files.length);-->
<!--    else $(this).prev().text('Выберите файлы');-->
<!--});-->

        document.addEventListener('DOMContentLoaded', (ev)=>{
            let form = document.getElementById('myform');
            //get the captured media file
            let input = document.getElementById('capture');

            input.addEventListener('change', (ev)=>{
                console.dir( input.files[0] );

                if(input.files[0].type.indexOf("audio/") > -1 ){
                    let audio = document.getElementById('audio');
                    audio.src = window.URL.createObjectURL(input.files[0]);
                }



            })

        })


</script>
</body>
</html>