<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

<!--  <header>-->
<!--  &lt;!&ndash; Fixed navbar &ndash;&gt;-->
<!--    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">-->
<!--      <div class="container-fluid">-->
<!--        <div class="collapse navbar-collapse" id="navbarCollapse">-->
<!--          <ul class="navbar-nav me-auto mb-2 mb-md-0">-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link active" aria-current="page" href="/">MusicBox</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="favorites">Favorites</a>-->
<!--            </li>-->
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="playlists">Playlists</a>-->
<!--            </li>-->
<!--          </ul>-->
<!--          &lt;!&ndash;<label for="myfile" class="label">Выберите файлы</label>&ndash;&gt;-->
<!--          &lt;!&ndash;<input type="file" class="my" id="myfile" name="myfile" multiple>&ndash;&gt;-->
<!--          <form class="d-flex">-->
<!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </nav>-->
<!--  </header>-->



  <header>
    <div class="logo">
      <h3><a href="/">MusicBox</a></h3>
    </div>
    <div class="menu">
      <ul>
        <li><a href="favorites">Favorites</a></li>
        <li><a href="playlists">Playlists</a></li>
      </ul>
    </div>
    <div class="tel">
      <a href="tel:88004000500">8 800 4000 500</a>
    </div>
  </header>


</div>









